name: lunaR CI

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install R
      run: sudo apt-get install -y r-base libfftw3-dev libcurl4-openssl-dev

    - name: make lunaR
      run: |
        cd $HOME
        sudo R -e "install.packages('git2r', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('plotrix', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('geosphere', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('geosphere', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('data.table', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('shiny', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('DT', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('shinyFiles', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('xtable', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('shinydashboard', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('lubridate', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('wkb', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('digest', repos='https://cloud.r-project.org')"
        sudo R -e "install.packages('aws.s3', repos='https://cloud.r-project.org')"
        sudo R CMD INSTALL ${GITHUB_WORKSPACE}
